<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  
</head>
<body>
  
  <h1 style="background-color: greenyellow;">Welcome to the Home Page</h1>
  
  <form action="/signout" method="POST">
    <button style="background-color: aqua;"  type="submit">Sign Out</button>
  </form>


</body>
</html>
